.main-container{
    width: 85%;
    height: 100vh;
    padding: 20px;
}   
.container-wrapper{
    background-color: #dfe6e9;
    height: 100%;
    border-radius: 30px;
    padding: 15px;
}

@media only screen and (max-width: 600px) {
    .main-container{
        width: 100%;
        padding: 0;
    }
    .container-wrapper{
        background-color: #dfe6e9;
        height: 100vh;
        border-radius: 0;
        overflow-y: scroll;
    }
}